/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

/* Quita radios en todo el “shell” */
mat-sidenav-container,
.mat-drawer-container,
.mat-drawer,
.mat-drawer-inner-container,
.mat-drawer-content,
mat-sidenav {
  border-radius: 0 !important;
}

/* Por si el recorte viene por overflow */
.mat-drawer-container,
.mat-drawer-inner-container {
  overflow: visible !important;
}

/* Y por si el redondeo te lo está metiendo el toolbar del menú */
mat-sidenav mat-toolbar,
mat-sidenav .mat-toolbar,
mat-sidenav .mat-mdc-toolbar {
  border-radius: 0 !important;
}